<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title>Studio Ghibli Movie API Mashup</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=PT+Serif:wght@400;700&family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="css/grid.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <script defer src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="module" src="js/main.js"></script>
</head>

<body>
    <div class="grid-con">
        <h1>Studio Ghibli’s Top Five Movie</h1>
        <p>Welcome to Studio Ghibli’s Top Five Movie website!</p>
        <p>Dive into the magical realm of Studio Ghibli as we celebrate our top five masterpieces, each brimming with creativity, emotion, and imagination. Join us on a journey through animated wonders that have captured hearts worldwide, and discover why Studio Ghibli continues to inspire generations.</p>
        <p>Get ready to embark on an adventure beyond imagination!</p>
    </div>
    <div class="grid-con" id="app">
        <div class="col-span-full">
            
            <ul id="book-list">
                <!-- thumbnail to be added by students, v-bind directive -->
                <li v-for="book in booksData">
                    <h3>Title: <a href="#book" @click="getBook(book.title)">{{book.title}}</a>
                    </h3>
                    <h4>Published: {{book.published_date}}</h4>
                </li>
            </ul>
        </div>
        <div class="col-span-full" id="bookInfoCon">
            <div v-if="error">{{error}}</div>
            <div id="book" v-if="!error">
                <p>Author: {{authorName}}</p>
                <p>Number of Pages: {{numberofPages}}</p>
                <p>Rating: {{ratingsAverage}}</p>
                <p>First Sentence: {{firstSentence}}</p>
            </div>

        </div>
    </div>
</body>
</html>