<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title>Studio Ghibli Movie API Mashup</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=PT+Serif:wght@400;700&family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="css/grid.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <script defer src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="module" src="js/main.js"></script>
</head>

<body>
    <div class="grid-con">
        <h1 class="col-span-full">Studio Ghibli’s Top Five Movie</h1>
        <p class="col-span-full">Welcome to Studio Ghibli’s Top Five Movie website!</p>
        <p class="col-span-full">Dive into the magical realm of Studio Ghibli as we celebrate our top five masterpieces, each brimming with creativity, emotion, and imagination. Join us on a journey through animated wonders that have captured hearts worldwide, and discover why Studio Ghibli continues to inspire generations.</p>
        <p class="col-span-full">Get ready to embark on an adventure beyond imagination!</p>
    </div>
    <div id="app">
        <div v-if="isLoading" v-html="spinner"></div>
        <div v-else class="grid-con movie-container" v-for="movie in ghibliData" :key="movie.ghibli_movie_id">
            <div v-if="error">{{ error }}</div>
            <div class="col-span-full">
                <img :src="`images/${movie.movie_banner}`" :alt="movie.title">
            </div>
            <div class="col-span-full m-col-start-2 m-col-end-10">
                <p>{{ movie.title }}</p>
                <p>{{ movie.original_title }}</p>
            </div>
            <div class="col-span-full m-col-start-10 m-col-end-12">
                <a href="#movie-detail" @click="getMovie(movie.ghibli_movie_id); selectedMovieId = movie.ghibli_movie_id">Learn More</a>
            </div>
            <div v-if="selectedMovieId === movie.ghibli_movie_id" class="col-span-full" id="movie-detail">    
                <div v-if="error">{{ error }}</div>
                <div class="grid-con" v-if="!error">
                    <div class="m-col-start-1 m-col-end-8">
                        <p>{{ movieDesc }}</p>                 
                        <p>Director: {{ directorName }}</p>
                        <p>Producer: {{ producerName }}</p>                   
                        <p>Release Date: {{ releaseDate }}</p>
                        <p>Running Time: {{ runningTime }}</p>
                        <p>Rating Score: {{ ratingScore }}</p>
                    </div>
                    <div class="m-col-start-9 m-col-end-12">
                        <img :src="movieImage" :alt="movie.title">
                    </div>  
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>